<article class="clearfix">
    <h2>The Value Of Money</h2>
    <figure class="img-float">
        <img src="./img/money.jpg" alt="three jars of money">
        <figcaption>Money</figcaption>
    </figure>

    <p class="article-float">Money is a dependent variable that affects the many decisions people make in their lives, ranging from collegiate enrollment and job decisions to simple/major investments. Inadvertently or intentionally we make some of our biggest life decisions in accordance with money. But what makes money so fascinating? Perhaps it’s the idea that these multi-colored bills and coins in our wallets allow us to set occupational goals for future successes or squander them.
    <br>There seems to be more to the face-value of a dollar bill than at first glance. Currency, money, wealth and sometimes power, are all words used to describe the same thing; a certain acquisition of financial stability to the point of security and comfort. Now money in its physical form is paper and coins, which have a higher representation as a standard of currency within a region. This definition highlights the conventions of money in an economical way. However, money on a more intimate level comes to represent something entirely different to mankind.
    <br>The value of money changes in the hands of its possessor but not in a physical manner, but a metaphysical one. As an abstract value money is infinitely malleable, represented as a symbolic entity of power, greed, happiness, security, potential and status. As purchasing or buying becomes an infinite choice, very similarly wealth takes on an infinitely different meaning in the eyes of its beholder. The influence of money is a product of its owner and its use.
    <br><em><strong>Author: Evelyn Pelczar</strong></em> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.elitedaily.com/money/entrepreneurship/the-value-of-money-and-what-it-really-means" target="_blank"><button>Read More</button></a></p>
</article>
<hr>


<article class="clearfix">
    <h2>What Is GMO Food?</h2>
    <figure class="img-float">
        <img src="./img/vegetables.jpg" alt="vegetables">
        <figcaption>Vegetables</figcaption>
    </figure>

    <p class="article-float">‘GMO’ refers to any living thing that’s had its DNA altered using genetic engineering. This could be a plant, animal (including humans) or bacterium and it’s usually done to introduce a desirable trait into the organism, such as larger fruit or drought resistance. 
    <br>You'll often see discussion of GM foods accompanied by images of fruit and veg with scary-looking syringes stuck in them (presumably by evil scientists), but these bear little resemblance to reality.<br>Humans have actually been performing a low-tech version of the GM process for thousands of years through selective breeding. Ancient farmers did it with maize (that’s sweetcorn to us), and transformed a tough, indigestible grain into the juicy yellow kernels we know today.
    <br>Genetic engineering allows us to directly alter the DNA of organisms without having to go through the process of breeding them over many generations. The gene for a desirable trait is isolated from a separate organism and inserted into the target, either manually or by attaching it to a (harmless) virus. GMOs can be used to treat disease, protect the environment and, of course, produce food.
    <br><em><strong>Author: Stevie Shephard</strong></em> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.bbcgoodfood.com/howto/guide/what-gmo-food" target="_blank"><button>Read More</button></a></p>
</article>
<hr>


<article class="clearfix">
    <h2>The View of World in 2100</h2>
    <figure class="img-float">
        <img src="./img/future.jpg" alt="the space">
        <figcaption>Future World</figcaption>
    </figure>

    <p class="article-float">In another 85 years, the world will be a very different place. Some nations are already shrinking and have much further to go, while others will grow dramatically. The world powers in economic and military strength are going to change. New stars will rise. Old stars will fade. So I thought it might be interesting to see how Australia might look by the year 2100, compared with some of our major trading partners or world powers.
    <br>Think how different the world was 100 years ago. The United Kingdom was an undisputed world power with a global empire that included Australia. The United States was not yet remotely a world power. Russia was still ruled by the Tsars, China was still a largely feudal empire and Japan was ruled by Emperors. From that period to now, the world population has risen by over 400%, with the fastest period of growth in the mid-1960s to 1970s.  Population growth in most advanced economies is now slowing to below replacement rate, with aging populations and fertility levels falling to less than half their 1960 levels. The clever people at the UN Population Division crunch the numbers on a regular and very detailed basis and their predictions in the past have been pretty much spot on. According to these experts, and assuming no Third World Wars or global pandemics, here’s a glimpse into the future.
    <br><em><strong>Author: Ross Elliott</strong></em> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.onlineopinion.com.au/view.asp?article=17697" target="_blank"><button>Read More</button></a></p>
</article>
<hr>
