<div class="portfolio">

    <figure class="imgbox">
        <img src="./img/green-design-logo.jpg" alt="logo for Green Design landscaping company">
        <figcaption class="text-centered">Logo Design - Green Design</figcaption>
    </figure>



    <figure class="imgbox">
        <img src="./img/icons-logo.jpg" alt="logo for ICONS Salon">
        <figcaption class="text-centered">Logo Design - ICONS Salon</figcaption>
    </figure>



    <figure class="imgbox">
        <img src="./img/teashop-logo.jpg" alt="logo for Tea House">
        <figcaption class="text-centered">Logo Design - Tea Shop</figcaption>
    </figure>

    <figure class="imgbox">
        <img src="./img/car_golden_gate_bridge.jpg" alt="Golden Gate Bridge">
        <figcaption class="text-centered">Photography - Goden Gate Bridge</figcaption>
    </figure>



    <figure class="imgbox">
        <img src="./img/orange_tulips.jpg" alt="orange tulips">
        <figcaption class="text-centered">Photography - Tulips Festival</figcaption>
    </figure>



    <figure class="imgbox">
        <img src="./img/island.jpg" alt="Bali Island">
        <figcaption>Photography - Bali Island</figcaption>
    </figure>

</div>
<hr>


